body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin-default {
  margin-top: 2rem;
}

.remove-bottom-margin {
  margin-bottom: unset;
}

.add-top-margin {
  margin-top: 1rem;
}

.c-right {
  margin-left: auto;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.verticalLine {
  align-self: stretch;
  display: block;
  width: 1px;
  background-color: currentColor;
  opacity: .25;
  margin: 0 1rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: 21rem 21rem 21rem;
  grid-gap: 1rem;
  grid-auto-flow: row;
  grid-auto-columns: min-content;
}

.b {
  font-weight: bolder;
}

.i {
  font-style: italic;
}

.gap {
  margin-right: 5px;
}

.gap-l {
  margin-left: 5px;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-crimson {
  background-color: crimson;
  color: white;
}

.bg-gray {
  background-color: lightgray;
}

.br {
  white-space: break-spaces;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}